#
# $Id: admEmulator.config 6418 2005-12-14 23:40:52Z jr152025 $
#
# Copyright © 2008, Sun Microsystems, Inc.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#
#   # Redistributions of source code must retain the above copyright
# notice, this list of conditions and the following disclaimer.
#
#   # Redistributions in binary form must reproduce the above copyright
# notice, this list of conditions and the following disclaimer in the
# documentation and/or other materials provided with the distribution.
#
#   # Neither the name of Sun Microsystems, Inc. nor the names of its
# contributors may be used to endorse or promote products derived from
# this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS
# IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED
# TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
# PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER
# OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
# PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
# LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
# NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.



#

#
# Cell properties
#
cell.maxDisks=4

#
# Disk serial numbers by node
# 


disk.serial.101.0=SATA_____HITACHI_HDS7250S______KRVN03ZAG1WMXD  
disk.serial.101.1=SATA_____HITACHI_HDS7250S______KRVN03ZAG2KKVD  
disk.serial.101.2=SATA_____HITACHI_HDS7250S______KRVN03ZAG2LWUD  
disk.serial.101.3=SATA_____HITACHI_HDS7250S______KRVN03ZAG2RYZD  
disk.serial.102.0=SATA_____HITACHI_HDS7250S______KRVN03ZAG2MLXD  
disk.serial.102.1=SATA_____HITACHI_HDS7250S______KRVN03ZAG205XD  
disk.serial.102.2=SATA_____HITACHI_HDS7250S______KRVN03ZAG2MG4D  
disk.serial.102.3=SATA_____HITACHI_HDS7250S______KRVN03ZAG20SKD  
disk.serial.103.0=SATA_____HITACHI_HDS7250S______KRVN03ZAG2J46D  
disk.serial.103.1=SATA_____HITACHI_HDS7250S______KRVN03ZAG1W96D  
disk.serial.103.2=SATA_____HITACHI_HDS7250S______KRVN03ZAG293DD  
disk.serial.103.3=SATA_____HITACHI_HDS7250S______KRVN03ZAG2HZMD  
disk.serial.104.0=SATA_____HITACHI_HDS7250S______KRVN03ZAG2M3MD  
disk.serial.104.1=SATA_____HITACHI_HDS7250S______KRVN03ZAG2M6MD  
disk.serial.104.2=SATA_____HITACHI_HDS7250S______KRVN03ZAG20JTD  
disk.serial.104.3=SATA_____HITACHI_HDS7250S______KRVN03ZAG2LW6D  
disk.serial.105.0=SATA_____HITACHI_HDS7250S______KRVN03ZAG2MLYD  
disk.serial.105.1=SATA_____HITACHI_HDS7250S______KRVN03ZAG2M74D  
disk.serial.105.2=SATA_____HITACHI_HDS7250S______KRVN03ZAG1X9ND  
disk.serial.105.3=SATA_____HITACHI_HDS7250S______KRVN03ZAG1X33D  
disk.serial.106.0=SATA_____HITACHI_HDS7250S______KRVN03ZAG2ML8D  
disk.serial.106.1=SATA_____HITACHI_HDS7250S______KRVN03ZAG2LUDD  
disk.serial.106.2=SATA_____HITACHI_HDS7250S______KRVN03ZAG1W5AD  
disk.serial.106.3=SATA_____HITACHI_HDS7250S______KRVN03ZAG29ALD  
disk.serial.107.0=SATA_____HITACHI_HDS7250S______KRVN03ZAG2M7WD  
disk.serial.107.1=SATA_____HITACHI_HDS7250S______KRVN03ZAG2HXDD  
disk.serial.107.2=SATA_____HITACHI_HDS7250S______KRVN03ZAG2LXSD  
disk.serial.107.3=SATA_____HITACHI_HDS7250S______KRVN03ZAG2LZ7D  
disk.serial.108.0=SATA_____HITACHI_HDS7250S______KRVN63ZAGMAZYD  
disk.serial.108.1=SATA_____HITACHI_HDS7250S______KRVN03ZAG2MD7D  
disk.serial.108.2=SATA_____HITACHI_HDS7250S______KRVN03ZAG28YZD  
disk.serial.108.3=SATA_____HITACHI_HDS7250S______KRVN03ZAG21KYD  
disk.serial.109.0=SATA_____HITACHI_HDS7250S______KRVN03ZAG2PT9D  
disk.serial.109.1=SATA_____HITACHI_HDS7250S______KRVN03ZAG1X68D  
disk.serial.109.2=SATA_____HITACHI_HDS7250S______KRVN03ZAG2M24D  
disk.serial.109.3=SATA_____HITACHI_HDS7250S______KRVN03ZAG2MLTD  
disk.serial.110.0=SATA_____HITACHI_HDS7250S______KRVN03ZAG2MHXD  
disk.serial.110.1=SATA_____HITACHI_HDS7250S______KRVN03ZAG1W59D  
disk.serial.110.2=SATA_____HITACHI_HDS7250S______KRVN03ZAG29AND  
disk.serial.110.3=SATA_____HITACHI_HDS7250S______KRVN03ZAG2LV4D  
disk.serial.111.0=SATA_____HITACHI_HDS7250S______KRVN03ZAG2M1YD  
disk.serial.111.1=SATA_____HITACHI_HDS7250S______KRVN03ZAG2LTPD  
disk.serial.111.2=SATA_____HITACHI_HDS7250S______KRVN03ZAG2PSZD  
disk.serial.111.3=SATA_____HITACHI_HDS7250S______KRVN03ZAG2P93D
disk.serial.112.0=SATA_____HITACHI_HDS7250S______KRVN03ZAG289RD  
disk.serial.112.1=SATA_____HITACHI_HDS7250S______KRVN03ZAG1WD7D  
disk.serial.112.2=SATA_____HITACHI_HDS7250S______KRVN03ZAG21S2D  
disk.serial.112.3=SATA_____HITACHI_HDS7250S______KRVN03ZAG2M26D  
disk.serial.113.0=SATA_____HITACHI_HDS7250S______KRVN03ZAG2JWAD  
disk.serial.113.1=SATA_____HITACHI_HDS7250S______KRVN03ZAG2J0YD  
disk.serial.113.2=SATA_____HITACHI_HDS7250S______KRVN03ZAG2917D  
disk.serial.113.3=SATA_____HITACHI_HDS7250S______KRVN03ZAG21DMD  
disk.serial.114.0=SATA_____HITACHI_HDS7250S______KRVN03ZAG2HZ2D  
disk.serial.114.1=SATA_____HITACHI_HDS7250S______KRVN03ZAG2J38D  
disk.serial.114.2=SATA_____HITACHI_HDS7250S______KRVN03ZAG28LYD  
disk.serial.114.3=SATA_____HITACHI_HDS7250S______KRVN03ZAG29A9D  
disk.serial.115.0=SATA_____HITACHI_HDS7250S______KRVN03ZAG2RUBD  
disk.serial.115.1=SATA_____HITACHI_HDS7250S______KRVN03ZAG1W53D  
disk.serial.115.2=SATA_____HITACHI_HDS7250S______KRVN03ZAG2LUGD  
disk.serial.115.3=SATA_____HITACHI_HDS7250S______KRVN63ZAGKVRUD  
disk.serial.116.0=SATA_____HITACHI_HDS7250S______KRVN03ZAG20MXD  
disk.serial.116.1=SATA_____HITACHI_HDS7250S______KRVN03ZAG2LZND  
disk.serial.116.2=SATA_____HITACHI_HDS7250S______KRVN63ZAHEMMXD  
disk.serial.116.3=SATA_____HITACHI_HDS7250S______KRVN03ZAG2HL6D  

disk.status.101.0=1
disk.status.101.1=1
disk.status.101.2=1
disk.status.101.3=1

disk.totalCapacity.101.0=100002
disk.totalCapacity.101.1=100002
disk.totalCapacity.101.2=100002
disk.totalCapacity.101.3=100002

disk.usedCapacity.101.0=90002
disk.usedCapacity.101.1=90002
disk.usedCapacity.101.2=90002
disk.usedCapacity.101.3=90002

disk.status.102.0=1
disk.status.102.1=1
disk.status.102.2=1
disk.status.102.3=1

disk.totalCapacity.102.0=100002
disk.totalCapacity.102.1=100002
disk.totalCapacity.102.2=100002
disk.totalCapacity.102.3=100002

disk.usedCapacity.102.0=90002
disk.usedCapacity.102.1=90002
disk.usedCapacity.102.2=90002
disk.usedCapacity.102.3=90002

disk.status.103.0=1
disk.status.103.1=1
disk.status.103.2=1
disk.status.103.3=1

disk.totalCapacity.103.0=100002
disk.totalCapacity.103.1=100002
disk.totalCapacity.103.2=100002
disk.totalCapacity.103.3=100002

disk.usedCapacity.103.0=90002
disk.usedCapacity.103.1=90002
disk.usedCapacity.103.2=90002
disk.usedCapacity.103.3=90002

disk.status.104.0=1
disk.status.104.1=1
disk.status.104.2=1
disk.status.104.3=1

disk.totalCapacity.104.0=100002
disk.totalCapacity.104.1=100002
disk.totalCapacity.104.2=100002
disk.totalCapacity.104.3=100002

disk.usedCapacity.104.0=90002
disk.usedCapacity.104.1=90002
disk.usedCapacity.104.2=90002
disk.usedCapacity.104.3=90002

disk.status.105.0=1
disk.status.105.1=1
disk.status.105.2=1
disk.status.105.3=1

disk.totalCapacity.105.0=100002
disk.totalCapacity.105.1=100002
disk.totalCapacity.105.2=100002
disk.totalCapacity.105.3=100002

disk.usedCapacity.105.0=90002
disk.usedCapacity.105.1=90002
disk.usedCapacity.105.2=90002
disk.usedCapacity.105.3=90002

disk.status.106.0=1
disk.status.106.1=1
disk.status.106.2=1
disk.status.106.3=1

disk.totalCapacity.106.0=100002
disk.totalCapacity.106.1=100002
disk.totalCapacity.106.2=100002
disk.totalCapacity.106.3=100002

disk.usedCapacity.106.0=90002
disk.usedCapacity.106.1=90002
disk.usedCapacity.106.2=90002
disk.usedCapacity.106.3=90002

disk.status.107.0=1
disk.status.107.1=1
disk.status.107.2=1
disk.status.107.3=1

disk.totalCapacity.107.0=100002
disk.totalCapacity.107.1=100002
disk.totalCapacity.107.2=100002
disk.totalCapacity.107.3=100002

disk.usedCapacity.107.0=90002
disk.usedCapacity.107.1=90002
disk.usedCapacity.107.2=90002
disk.usedCapacity.107.3=90002

disk.status.108.0=1
disk.status.108.1=1
disk.status.108.2=1
disk.status.108.3=1

disk.totalCapacity.108.0=100002
disk.totalCapacity.108.1=100002
disk.totalCapacity.108.2=100002
disk.totalCapacity.108.3=100002

disk.usedCapacity.108.0=90002
disk.usedCapacity.108.1=90002
disk.usedCapacity.108.2=90002
disk.usedCapacity.108.3=90002

disk.status.108.0=1
disk.status.108.1=1
disk.status.108.2=1
disk.status.108.3=1

disk.totalCapacity.108.0=100002
disk.totalCapacity.108.1=100002
disk.totalCapacity.108.2=100002
disk.totalCapacity.108.3=100002

disk.usedCapacity.108.0=90002
disk.usedCapacity.108.1=90002
disk.usedCapacity.108.2=90002
disk.usedCapacity.108.3=90002

disk.status.109.0=1
disk.status.109.1=1
disk.status.109.2=1
disk.status.109.3=1

disk.totalCapacity.109.0=100002
disk.totalCapacity.109.1=100002
disk.totalCapacity.109.2=100002
disk.totalCapacity.109.3=100002

disk.usedCapacity.109.0=90002
disk.usedCapacity.109.1=90002
disk.usedCapacity.109.2=90002
disk.usedCapacity.109.3=90002

disk.status.110.0=1
disk.status.110.1=1
disk.status.110.2=1
disk.status.110.3=1

disk.totalCapacity.110.0=100002
disk.totalCapacity.110.1=100002
disk.totalCapacity.110.2=100002
disk.totalCapacity.110.3=100002

disk.usedCapacity.110.0=90002
disk.usedCapacity.110.1=90002
disk.usedCapacity.110.2=90002
disk.usedCapacity.110.3=90002

disk.status.111.0=1
disk.status.111.1=1
disk.status.111.2=1
disk.status.111.3=1

disk.totalCapacity.111.0=100002
disk.totalCapacity.111.1=100002
disk.totalCapacity.111.2=100002
disk.totalCapacity.111.3=100002

disk.usedCapacity.111.0=90002
disk.usedCapacity.111.1=90002
disk.usedCapacity.111.2=90002
disk.usedCapacity.111.3=90002

disk.status.112.0=1
disk.status.112.1=1
disk.status.112.2=1
disk.status.112.3=1

disk.totalCapacity.112.0=100002
disk.totalCapacity.112.1=100002
disk.totalCapacity.112.2=100002
disk.totalCapacity.112.3=100002

disk.usedCapacity.112.0=90002
disk.usedCapacity.112.1=90002
disk.usedCapacity.112.2=90002
disk.usedCapacity.112.3=90002

disk.status.113.0=1
disk.status.113.1=1
disk.status.113.2=1
disk.status.113.3=1

disk.totalCapacity.113.0=100002
disk.totalCapacity.113.1=100002
disk.totalCapacity.113.2=100002
disk.totalCapacity.113.3=100002

disk.usedCapacity.113.0=90002
disk.usedCapacity.113.1=90002
disk.usedCapacity.113.2=90002
disk.usedCapacity.113.3=90002

disk.status.114.0=1
disk.status.114.1=1
disk.status.114.2=1
disk.status.114.3=1

disk.totalCapacity.114.0=100002
disk.totalCapacity.114.1=100002
disk.totalCapacity.114.2=100002
disk.totalCapacity.114.3=100002

disk.usedCapacity.114.0=90002
disk.usedCapacity.114.1=90002
disk.usedCapacity.114.2=90002
disk.usedCapacity.114.3=90002

disk.status.115.0=1
disk.status.115.1=1
disk.status.115.2=1
disk.status.115.3=1

disk.totalCapacity.115.0=100002
disk.totalCapacity.115.1=100002
disk.totalCapacity.115.2=100002
disk.totalCapacity.115.3=100002

disk.usedCapacity.115.0=90002
disk.usedCapacity.115.1=90002
disk.usedCapacity.115.2=90002
disk.usedCapacity.115.3=90002

disk.status.116.0=1
disk.status.116.1=1
disk.status.116.2=1
disk.status.116.3=1

disk.totalCapacity.116.0=100002
disk.totalCapacity.116.1=100002
disk.totalCapacity.116.2=100002
disk.totalCapacity.116.3=100002

disk.usedCapacity.116.0=90002
disk.usedCapacity.116.1=90002
disk.usedCapacity.116.2=90002
disk.usedCapacity.116.3=90002




#
# Node serial numbers
#
node.serial.101=5c27e24b-0fd0-d311-0080-0a835981e000
node.serial.102=de27e24b-0fd0-d311-0080-738c5581e000
node.serial.103=4727e24b-0fd0-d311-0080-7a8b5581e000
node.serial.104=5827e24b-0fd0-d311-0080-578c5581e000
node.serial.105=4827e24b-0fd0-d311-0080-ba8c5581e000
node.serial.106=4627e24b-0fd0-d311-0080-6b8b5581e000
node.serial.107=3a27e24b-0fd0-d311-0080-5f8c5581e000
node.serial.108=5c27e24b-0fd0-d311-0080-828c5581e000
node.serial.109=4727e24b-0fd0-d311-0080-9a8c5581e000
node.serial.110=3927e24b-0fd0-d311-0080-f94d5981e000
node.serial.111=4927e24b-0fd0-d311-0080-734d5981e000
node.serial.112=3b27e24b-0fd0-d311-0080-886d5981e000
node.serial.113=4d27e24b-0fd0-d311-0080-716e5981e000
node.serial.114=4d27e24b-0fd0-d311-0080-ce6d5981e000
node.serial.115=5d27e24b-0fd0-d311-0080-51645981e000
node.serial.116=4d27e24b-0fd0-d311-0080-1d6e5981e000
 
node.isAlive.101=true
node.isEligible.101=true
node.isMaster.101=true
node.isViceMaster.101=false
node.diskCount.101=4
node.status.101=1


node.isAlive.102=true
node.isEligible.102=true
node.isMaster.102=false
node.isViceMaster.102=true
node.diskCount.102=4
node.status.102=1

node.isAlive.103=true
node.isEligible.103=true
node.isMaster.103=false
node.isViceMaster.103=false
node.diskCount.103=4
node.status.103=1

node.isAlive.104=true
node.isEligible.104=true
node.isMaster.104=false
node.isViceMaster.104=false
node.diskCount.104=4
node.status.104=1

node.isAlive.105=true
node.isEligible.105=true
node.isMaster.105=false
node.isViceMaster.105=false
node.diskCount.105=4
node.status.105=1

node.isAlive.106=true
node.isEligible.106=true
node.isMaster.106=false
node.isViceMaster.106=false
node.diskCount.106=4
node.status.106=1

node.isAlive.107=true
node.isEligible.107=true
node.isMaster.107=false
node.isViceMaster.107=false
node.diskCount.107=4
node.status.107=1

node.isAlive.108=true
node.isEligible.108=true
node.isMaster.108=false
node.isViceMaster.108=false
node.diskCount.108=4
node.status.108=1

node.isAlive.109=true
node.isEligible.109=true
node.isMaster.109=false
node.isViceMaster.109=false
node.diskCount.109=4
node.status.109=1

node.isAlive.110=true
node.isEligible.110=true
node.isMaster.110=false
node.isViceMaster.110=false
node.diskCount.110=4
node.status.110=1

node.isAlive.111=true
node.isEligible.111=true
node.isMaster.111=false
node.isViceMaster.111=false
node.diskCount.111=4
node.status.111=1

node.isAlive.112=true
node.isEligible.112=true
node.isMaster.112=false
node.isViceMaster.112=false
node.diskCount.112=4
node.status.112=1

node.isAlive.113=true
node.isEligible.113=true
node.isMaster.113=false
node.isViceMaster.113=false
node.diskCount.113=4
node.status.113=1

node.isAlive.114=true
node.isEligible.114=true
node.isMaster.114=false
node.isViceMaster.114=false
node.diskCount.114=4
node.status.114=1

node.isAlive.115=true
node.isEligible.115=true
node.isMaster.115=false
node.isViceMaster.115=false
node.diskCount.115=4
node.status.115=1

node.isAlive.116=true
node.isEligible.116=true
node.isMaster.116=false
node.isViceMaster.116=false
node.diskCount.116=4
node.status.116=1
#
# Switch fru data
#
switch.1.fruName=SWITCH-1
switch.1.fruId=00:11:95:a2:25:00
switch.2.fruName=SWITCH-2
switch.2.fruId=00:11:95:a2:30:00

#
# Service Processor
#
sp.serial=c0904c73-d8ca-d311-0080-6d285981e000
sp.status=1
#
# Task completion times
#

# 18000 = 5 hours ago
Tasks.completion.delta=18000

#
# Versions
#
versions.cell.overlay.switch.1=overlay-10987
versions.cell.overlay.switch.2=overlay-10987
versions.cell.spBios=Rev 50
versions.cell.spSmdc=4.13
versions.cell.version=1.1
versions.node.spBios.101=0.1.8
versions.node.spSmdc.101=4.18

versions.node.spBios.102=0.1.8
versions.node.spSmdc.102=4.18

versions.node.spBios.103=0.1.8
versions.node.spSmdc.103=4.18

versions.node.spBios.104=0.1.8
versions.node.spSmdc.104=4.18

versions.node.spBios.105=0.1.8
versions.node.spSmdc.105=4.18

versions.node.spBios.106=0.1.8
versions.node.spSmdc.106=4.18

versions.node.spBios.107=0.1.8
versions.node.spSmdc.107=4.18

versions.node.spBios.108=0.1.8
versions.node.spSmdc.108=4.18

versions.node.spBios.109=0.1.8
versions.node.spSmdc.109=4.18

versions.node.spBios.110=0.1.8
versions.node.spSmdc.110=4.18

versions.node.spBios.111=0.1.8
versions.node.spSmdc.111=4.18

versions.node.spBios.112=0.1.8
versions.node.spSmdc.112=4.18

versions.node.spBios.113=0.1.8
versions.node.spSmdc.113=4.18

versions.node.spBios.114=0.1.8
versions.node.spSmdc.114=4.18

versions.node.spBios.115=0.1.8
versions.node.spSmdc.115=4.18

versions.node.spBios.116=0.1.8
versions.node.spSmdc.116=4.18


sensor.ddrVoltage.101=2.60 Volts     
sensor.threeVCC.101=1.42 Volts     
sensor.fiveVCC.101=3.33 Volts     
sensor.twelveVCC.101=5.07 Volts     
sensor.batteryVoltage.101=12.03 Volts    
sensor.cpuVoltage.101=3.01 Volts     
sensor.cpuTemprature.101=58 degrees C   
sensor.cpuFanSpeed.101=12782 RPM      
sensor.systemTemprature.101=39 degrees C   
sensor.systemFan1Speed.101=12870 RPM      
sensor.systemFan2Speed.101=13050 RPM      
sensor.systemFan3Speed.101=11350 RPM      
sensor.systemFan4Speed.101=6570 RPM       
sensor.systemFan5Speed.101=6570 RPM       

sensor.ddrVoltage.102=2.60 Volts     
sensor.threeVCC.102=1.42 Volts     
sensor.fiveVCC.102=3.33 Volts     
sensor.twelveVCC.102=5.07 Volts     
sensor.batteryVoltage.102=12.03 Volts    
sensor.cpuVoltage.102=3.01 Volts     
sensor.cpuTemprature.102=58 degrees C   
sensor.cpuFanSpeed.102=12782 RPM      
sensor.systemTemprature.102=39 degrees C   
sensor.systemFan1Speed.102=12870 RPM      
sensor.systemFan2Speed.102=13050 RPM      
sensor.systemFan3Speed.102=11350 RPM      
sensor.systemFan4Speed.102=6570 RPM       
sensor.systemFan5Speed.102=6570 RPM       

sensor.ddrVoltage.103=2.60 Volts     
sensor.threeVCC.103=1.42 Volts     
sensor.fiveVCC.103=3.33 Volts     
sensor.twelveVCC.103=5.07 Volts     
sensor.batteryVoltage.103=12.03 Volts    
sensor.cpuVoltage.103=3.01 Volts     
sensor.cpuTemprature.103=58 degrees C   
sensor.cpuFanSpeed.103=12782 RPM      
sensor.systemTemprature.103=39 degrees C   
sensor.systemFan1Speed.103=12870 RPM      
sensor.systemFan2Speed.103=13050 RPM      
sensor.systemFan3Speed.103=11350 RPM      
sensor.systemFan4Speed.103=6570 RPM       
sensor.systemFan5Speed.103=6570 RPM       

sensor.ddrVoltage.104=2.60 Volts     
sensor.threeVCC.104=1.42 Volts     
sensor.fiveVCC.104=3.33 Volts     
sensor.twelveVCC.104=5.07 Volts     
sensor.batteryVoltage.104=12.03 Volts    
sensor.cpuVoltage.104=3.01 Volts     
sensor.cpuTemprature.104=58 degrees C   
sensor.cpuFanSpeed.104=12782 RPM      
sensor.systemTemprature.104=39 degrees C   
sensor.systemFan1Speed.104=12870 RPM      
sensor.systemFan2Speed.104=13050 RPM      
sensor.systemFan3Speed.104=11350 RPM      
sensor.systemFan4Speed.104=6570 RPM       
sensor.systemFan5Speed.104=6570 RPM       

sensor.ddrVoltage.105=2.60 Volts     
sensor.threeVCC.105=1.42 Volts     
sensor.fiveVCC.105=3.33 Volts     
sensor.twelveVCC.105=5.07 Volts     
sensor.batteryVoltage.105=12.03 Volts    
sensor.cpuVoltage.105=3.01 Volts     
sensor.cpuTemprature.105=58 degrees C   
sensor.cpuFanSpeed.105=12782 RPM      
sensor.systemTemprature.105=39 degrees C   
sensor.systemFan1Speed.105=12870 RPM      
sensor.systemFan2Speed.105=13050 RPM      
sensor.systemFan3Speed.105=11350 RPM      
sensor.systemFan4Speed.105=6570 RPM       
sensor.systemFan5Speed.105=6570 RPM       

sensor.ddrVoltage.106=2.60 Volts     
sensor.threeVCC.106=1.42 Volts     
sensor.fiveVCC.106=3.33 Volts     
sensor.twelveVCC.106=5.07 Volts     
sensor.batteryVoltage.106=12.03 Volts    
sensor.cpuVoltage.106=3.01 Volts     
sensor.cpuTemprature.106=58 degrees C   
sensor.cpuFanSpeed.106=12782 RPM      
sensor.systemTemprature.106=39 degrees C   
sensor.systemFan1Speed.106=12870 RPM      
sensor.systemFan2Speed.106=13050 RPM      
sensor.systemFan3Speed.106=11350 RPM      
sensor.systemFan4Speed.106=6570 RPM       
sensor.systemFan5Speed.106=6570 RPM       

sensor.ddrVoltage.107=2.60 Volts     
sensor.threeVCC.107=1.42 Volts     
sensor.fiveVCC.107=3.33 Volts     
sensor.twelveVCC.107=5.07 Volts     
sensor.batteryVoltage.107=12.03 Volts    
sensor.cpuVoltage.107=3.01 Volts     
sensor.cpuTemprature.107=58 degrees C   
sensor.cpuFanSpeed.107=12782 RPM      
sensor.systemTemprature.107=39 degrees C   
sensor.systemFan1Speed.107=12870 RPM      
sensor.systemFan2Speed.107=13050 RPM      
sensor.systemFan3Speed.107=11350 RPM      
sensor.systemFan4Speed.107=6570 RPM       
sensor.systemFan5Speed.107=6570 RPM       

sensor.ddrVoltage.108=2.60 Volts     
sensor.threeVCC.108=1.42 Volts     
sensor.fiveVCC.108=3.33 Volts     
sensor.twelveVCC.108=5.07 Volts     
sensor.batteryVoltage.108=12.03 Volts    
sensor.cpuVoltage.108=3.01 Volts     
sensor.cpuTemprature.108=58 degrees C   
sensor.cpuFanSpeed.108=12782 RPM      
sensor.systemTemprature.108=39 degrees C   
sensor.systemFan1Speed.108=12870 RPM      
sensor.systemFan2Speed.108=13050 RPM      
sensor.systemFan3Speed.108=11350 RPM      
sensor.systemFan4Speed.108=6570 RPM       
sensor.systemFan5Speed.108=6570 RPM       

sensor.ddrVoltage.109=2.60 Volts     
sensor.threeVCC.109=1.42 Volts     
sensor.fiveVCC.109=3.33 Volts     
sensor.twelveVCC.109=5.07 Volts     
sensor.batteryVoltage.109=12.03 Volts    
sensor.cpuVoltage.109=3.01 Volts     
sensor.cpuTemprature.109=58 degrees C   
sensor.cpuFanSpeed.109=12782 RPM      
sensor.systemTemprature.109=39 degrees C   
sensor.systemFan1Speed.109=12870 RPM      
sensor.systemFan2Speed.109=13050 RPM      
sensor.systemFan3Speed.109=11350 RPM      
sensor.systemFan4Speed.109=6570 RPM       
sensor.systemFan5Speed.109=6570 RPM       

sensor.ddrVoltage.110=2.60 Volts     
sensor.threeVCC.110=1.42 Volts     
sensor.fiveVCC.110=3.33 Volts     
sensor.twelveVCC.110=5.07 Volts     
sensor.batteryVoltage.110=12.03 Volts    
sensor.cpuVoltage.110=3.01 Volts     
sensor.cpuTemprature.110=58 degrees C   
sensor.cpuFanSpeed.110=12782 RPM      
sensor.systemTemprature.110=39 degrees C   
sensor.systemFan1Speed.110=12870 RPM      
sensor.systemFan2Speed.110=13050 RPM      
sensor.systemFan3Speed.110=11350 RPM      
sensor.systemFan4Speed.110=6570 RPM       
sensor.systemFan5Speed.110=6570 RPM       

sensor.ddrVoltage.111=2.60 Volts     
sensor.threeVCC.111=1.42 Volts     
sensor.fiveVCC.111=3.33 Volts     
sensor.twelveVCC.111=5.07 Volts     
sensor.batteryVoltage.111=12.03 Volts    
sensor.cpuVoltage.111=3.01 Volts     
sensor.cpuTemprature.111=58 degrees C   
sensor.cpuFanSpeed.111=12782 RPM      
sensor.systemTemprature.111=39 degrees C   
sensor.systemFan1Speed.111=12870 RPM      
sensor.systemFan2Speed.111=13050 RPM      
sensor.systemFan3Speed.111=11350 RPM      
sensor.systemFan4Speed.111=6570 RPM       
sensor.systemFan5Speed.111=6570 RPM       

sensor.ddrVoltage.112=2.60 Volts     
sensor.threeVCC.112=1.42 Volts     
sensor.fiveVCC.112=3.33 Volts     
sensor.twelveVCC.112=5.07 Volts     
sensor.batteryVoltage.112=12.03 Volts    
sensor.cpuVoltage.112=3.01 Volts     
sensor.cpuTemprature.112=58 degrees C   
sensor.cpuFanSpeed.112=12782 RPM      
sensor.systemTemprature.112=39 degrees C   
sensor.systemFan1Speed.112=12870 RPM      
sensor.systemFan2Speed.112=13050 RPM      
sensor.systemFan3Speed.112=11350 RPM      
sensor.systemFan4Speed.112=6570 RPM       
sensor.systemFan5Speed.112=6570 RPM       

sensor.ddrVoltage.113=2.60 Volts     
sensor.threeVCC.113=1.42 Volts     
sensor.fiveVCC.113=3.33 Volts     
sensor.twelveVCC.113=5.07 Volts     
sensor.batteryVoltage.113=12.03 Volts    
sensor.cpuVoltage.113=3.01 Volts     
sensor.cpuTemprature.113=58 degrees C   
sensor.cpuFanSpeed.113=12782 RPM      
sensor.systemTemprature.113=39 degrees C   
sensor.systemFan1Speed.113=12870 RPM      
sensor.systemFan2Speed.113=13050 RPM      
sensor.systemFan3Speed.113=11350 RPM      
sensor.systemFan4Speed.113=6570 RPM       
sensor.systemFan5Speed.113=6570 RPM       

sensor.ddrVoltage.114=2.60 Volts     
sensor.threeVCC.114=1.42 Volts     
sensor.fiveVCC.114=3.33 Volts     
sensor.twelveVCC.114=5.07 Volts     
sensor.batteryVoltage.114=12.03 Volts    
sensor.cpuVoltage.114=3.01 Volts     
sensor.cpuTemprature.114=58 degrees C   
sensor.cpuFanSpeed.114=12782 RPM      
sensor.systemTemprature.114=39 degrees C   
sensor.systemFan1Speed.114=12870 RPM      
sensor.systemFan2Speed.114=13050 RPM      
sensor.systemFan3Speed.114=11350 RPM      
sensor.systemFan4Speed.114=6570 RPM       
sensor.systemFan5Speed.114=6570 RPM       

sensor.ddrVoltage.115=2.60 Volts     
sensor.threeVCC.115=1.42 Volts     
sensor.fiveVCC.115=3.33 Volts     
sensor.twelveVCC.115=5.07 Volts     
sensor.batteryVoltage.115=12.03 Volts    
sensor.cpuVoltage.115=3.01 Volts     
sensor.cpuTemprature.115=58 degrees C   
sensor.cpuFanSpeed.115=12782 RPM      
sensor.systemTemprature.115=39 degrees C   
sensor.systemFan1Speed.115=12870 RPM      
sensor.systemFan2Speed.115=13050 RPM      
sensor.systemFan3Speed.115=11350 RPM      
sensor.systemFan4Speed.115=6570 RPM       
sensor.systemFan5Speed.115=6570 RPM       

sensor.ddrVoltage.116=2.60 Volts     
sensor.threeVCC.116=1.42 Volts     
sensor.fiveVCC.116=3.33 Volts     
sensor.twelveVCC.116=5.07 Volts     
sensor.batteryVoltage.116=12.03 Volts    
sensor.cpuVoltage.116=3.01 Volts     
sensor.cpuTemprature.116=58 degrees C   
sensor.cpuFanSpeed.116=12782 RPM      
sensor.systemTemprature.116=39 degrees C   
sensor.systemFan1Speed.116=12870 RPM      
sensor.systemFan2Speed.116=13050 RPM      
sensor.systemFan3Speed.116=11350 RPM      
sensor.systemFan4Speed.116=6570 RPM       
sensor.systemFan5Speed.116=6570 RPM       


