#
# $Id: cluster_config.properties.in 6418 2005-12-14 23:40:52Z ar146282 $
#
# Copyright © 2008, Sun Microsystems, Inc.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#
#   # Redistributions of source code must retain the above copyright
# notice, this list of conditions and the following disclaimer.
#
#   # Redistributions in binary form must reproduce the above copyright
# notice, this list of conditions and the following disclaimer in the
# documentation and/or other materials provided with the distribution.
#
#   # Neither the name of Sun Microsystems, Inc. nor the names of its
# contributors may be used to endorse or promote products derived from
# this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS
# IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED
# TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
# PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER
# OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
# PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
# LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
# NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.



#

#honeycomb.emulator.root=
#honeycomb.webdav.port=80

#honeycomb.protocol.port=8080
#honeycomb.protocol.sendStackTrace = true
honeycomb.protocol.jettylog = true
honeycomb.webdav.auth.delimiter = , 
honeycomb.webdav.auth.hash = HC WebDAV,root,6dad42d265e3b425e3892d2bf920a41d
honeycomb.emulator.usage.cap = 80


#####################################################################
#
# CNS
#
honeycomb.cns.registered=0
honeycomb.cns.test=1

honeycomb.cns.contact.first_name=
honeycomb.cns.contact.last_name=
honeycomb.cns.contact.email=

# Proxy settings
honeycomb.cns.proxy.enabled=0
honeycomb.cns.proxy.port=8080
honeycomb.cns.proxy.server=
honeycomb.cns.proxy.auth=false
honeycomb.cns.proxy.user=
honeycomb.cns.proxy.password=

# Sun Login Information
honeycomb.cns.username=pralpha
honeycomb.cns.password=pralpha1

honeycomb.cns.client_registration_url=https://cns-services.sun.com/SCRK/ClientRegistrationV1_1_0
honeycomb.cns.product_registration_url=https://cns-services.sun.com/SCRK/ClientTelemetryV1_1_0
honeycomb.cns.storage_telemetry_url=https://cns-services.sun.com/SCRK/ClientTelemetryV1_1_0

honeycomb.cns.test.client_registration_url=http://scrk-int-bsc-1a.central:9020/SCRK/ClientRegistrationV1_1_0
honeycomb.cns.test.product_registration_url=http://scrk-int-bsc-1a.central:9020/SCRK/ClientTelemetryV1_1_0
honeycomb.cns.test.storage_telemetry_url=http://scrk-int-bsc-1a.central:9020/SCRK/ClientTelemetryV1_1_0

honeycomb.cns.test.username=pralpha
honeycomb.cns.test.password=pralpha1

#
# END CNS
#
#####################################################################

#
# SMTP Alert Configuration
#

# The user we send alert email from
honeycomb.alerts.smtp.from_name = honeycomb-noreply@sun.com

#
# smtp port requires a default value
honeycomb.cell.smtp.port = 25

honeycomb.cell.smtp.server = 129.147.62.198
honeycomb.cell.ntp = 10.8.60.1 10.8.120.240
honeycomb.security.authorized_clients = cl92 cl94
honeycomb.cell.external_logger = 10.8.54.45
honeycomb.cell.dns = y
honeycomb.cell.domain_name = East.Sun.Com
honeycomb.cell.dns_search = Sun.Com
honeycomb.cell.primary_dns_server = 10.7.224.10
honeycomb.cell.secondary_dns_server = 129.146.11.21

# Used when growing a cell from 8 to 16 nodes
honeycomb.layout.expansion_status = none

# NodeIds of nodes added during cluster expansion
honeycomb.layout.expansion_nodeids = 109 110 111 112 113 114 115 116

honeycomb.admin.password = $1$D0GWmi8Q$9Ep8MkOzwqsLSI.lEnmY6/
honeycomb.admin.pubkey = ssh-dss AAAAB3NzaC1kc3MAAACBAK9rWO4gKtCOdco3AMYvMoP+tWZI9W4a01FsuDLxQFna2kz+CNdxTxN0VacbF8/Zv1nYJhXHNkwq2DThIv1GBdu3zXXlUwmPHHsjzbnnUtkeni8ZhrOatWKw7xF9BZeeANgK+Jb7IKnYo2T7ldBQjUp4D1mSwWg1qE6Tf5E+kGqJAAAAFQD7ZGLpyIIjxjEbiOBe/MDWiEZtiwAAAIBgCJVZX6He7K4rbZfkgBXq/Qe7lKaJi0dD7hau7Opi9kgVmbiRLI1/3TQny+rkZ7ZrlPo4BkgvAhDOMDm21AcCQVDcgwTHHUiCMlsbf1BNshlmgAeCYUX1fjEhswy7XqLA1C5gQr1ZPtIpYL8w/1LwrSNBc9GauvpguL+dTAQ45QAAAIBrE1iWBKG9NyIcj90pCSGPhwQvAZYBXekmKTXJJlBRYaJPBcnlZSllXg/QTQOO8LEaz7UmENFUuIl95DFJCabKuxqjjG+VjgwLoWireZyhagvZT4mug7pFOZDOPqCEF2Ley3+gHANhrAbfK2849JtKjfD/d6tJ6hZDybg8KvHtoQ== root@honeycomb

# the locale to use for l10n
honeycomb.language = en


#
#  Multicell
# 
honeycomb.cell.capacity.megs = 500

